[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
py2app = "*"
pdfkit = "*"
wxpython = "==4.0.7"
appdirs = "*"
pony = "*"
xhtml2pdf = "*"

[requires]
python_version = "2.7"
